@inherits LayoutComponentBase

<MudThemeProvider Theme="MyCustomTheme" />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudText Typo="Typo.h5" Class="ml-3">
            <img src="images/pokemon_logo.png" width="40px" height="20px" /> Pokedex
        </MudText>
    </MudAppBar>
    <MudMainContent>
        @Body
    </MudMainContent>
    <MudAppBar Color="Color.Primary" Fixed="false"
               Style="margin-top: 355px">
        <span style="margin: 0 auto;">PokdexApp Copyright © Junior Felix 2021.</span>
    </MudAppBar>
</MudLayout>


@code {
    MudTheme MyCustomTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Primary = "#E5625E",
            Secondary = "#F9f9f9",
            AppbarBackground = "#E5625E"
        },
        LayoutProperties = new LayoutProperties()
        {
            DrawerWidthLeft = "260px",
            DrawerWidthRight = "300px"
        }
    };
}