<div class="poke-option" style="background-color: @Background">
    <div class="info-col">
        <p class="poke-title">@Title</p>
        <div class="image">
            <img class="logo-img" src="images/pokemon_logo.png" alt="back-log" loading="lazy" />
        </div>
    </div>
    <img src="images/silhouette-pikachu-removebg-preview.png" class="pika" alt="back-log" loading="lazy" />
</div>


@code {
    [Parameter] public string Background { get; set; } = "";
    [Parameter] public string Title { get; set; }
}