@inject IPokemonService _pokemon

@if (Pokemons == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var poke in Pokemons)
    {
        <div class="pokemon" style="background-color: green">
            <div class="poke-header">
                <h2 class="poke-title">@poke.name</h2>
                <p class="poke-number">#@PokemonNumber</p>
            </div>
            @* <div class="poke-information">
                <div class="poke-type">
                    @if (Types.Any()) {
                        @foreach (var type in Types)
                        {
                            <p class="poke-badge-type">@type</p>
                        }
                    }
                    else {
                        <p class="poke-badge-type">No Tiene</p>
                    }
                </div>
                <img class="poke-img" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/2.png" alt="" />
            </div> *@
        </div>
    }
}

@code {
    [Parameter] public List<Result> Pokemons { get; set; }
    [Parameter] public int PokemonNumber { get; set; }
}